version: '3.8'
services:
  redis:
    image: redis:7
    container_name: redis-local
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--save", "60", "1", "--requirepass", "localpassword"]

volumes:
  redis-data:
