# deps
**/node_modules/**
**/.pnpm-store/**

# build outputs
**/.next/**
**/dist/**
**/build/**
**/.turbo/**

# coverage & caches
**/coverage/**
**/.nyc_output/**
**/.cache/**
**/.parcel-cache/**

# tipos/archivos generados
**/*.d.ts

# (opcional) locks (no los toca el check, pero por las dudas)
pnpm-lock.yaml

# (opcional) docs o carpetas que no querés tocar
# docs/vendor/**
