# Database
DATABASE_URL=*****
DIRECT_URL=*****

# Better Auth
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000

# Frontend URL (para JWKS endpoint)
FRONTEND_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=*****
CLOUDINARY_API_KEY=*****
CLOUDINARY_API_SECRET=*****

# Server
PORT=3001
NODE_ENV=development
