# Database
DATABASE_URL=*****
DIRECT_URL=*****

# Clerk Authentication
CLERK_SECRET_KEY=sk_test_your_secret_key_here
CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key_here

# Frontend URL (para validar authorizedParties)
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=*****
CLOUDINARY_API_KEY=*****
CLOUDINARY_API_SECRET=*****

# Server
PORT=3001
NODE_ENV=development
