AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-2

# AWS Account Configuration
AWS_ACCOUNT_ID=665352994810
ECR_REPOSITORY_NAME=hono/ticketeate
