name:BuildandPushTicketeateFrontendtoAWSECR
on:
push:
tags:
-'next-frontend-v*'#Soloseejecutacuandosemantic-releasecreauntag

jobs:
build-and-push:
name:BuildandPushtoECR
runs-on:ubuntu-latest
steps:
-name:Checkout
uses:actions/checkout@v3

-name:Extractversionfromtag
id:extract-version
run:|
#Extraelaversióndeltag(next-frontend-v1.2.3->1.2.3)
TAG_NAME=${GITHUB_REF#refs/tags/next-frontend-v}
echo"version=$TAG_NAME">>$GITHUB_OUTPUT
echo"📦Version:$TAG_NAME"

-name:ConfigureAWScredentials
uses:aws-actions/configure-aws-credentials@v4
with:
aws-access-key-id:${{secrets.AWS_ACCESS_KEY_ID}}
aws-secret-access-key:${{secrets.AWS_SECRET_ACCESS_KEY}}
aws-region:us-east-2

-name:LogintoAmazonECR
id:login-ecr
uses:aws-actions/amazon-ecr-login@v2

-name:Build,Tag,andPushtheImagetoAmazonECR
id:build-image
env:
ECR_REGISTRY:${{steps.login-ecr.outputs.registry}}
ECR_REPOSITORY:ticketeate-web
IMAGE_TAG:${{steps.extract-version.outputs.version}}
run:|
echo"🐳BuildingDockerimage..."
dockerbuild-t$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG.
dockertag$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG$ECR_REGISTRY/$ECR_REPOSITORY:latest

echo"📤PushingtoECR..."
dockerpush$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
dockerpush$ECR_REGISTRY/$ECR_REPOSITORY:latest

echo"✅Successfullypushed:"
echo"-$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
echo"-$ECR_REGISTRY/$ECR_REPOSITORY:latest"