name: Telemetry tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  telemetry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Install pnpm
        run: npm install -g pnpm@8
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run telemetry package tests
        run: pnpm -w --filter @ticketeate/telemetry... test
